{{#unless user}}
<form method="post" action="/login">
    <button type="submit" class="btn btn-primary">Login with Google</button>
</form>
{{/unless}}
<p>&nbsp;</p>
<div><img class="travis-badge" src="https://travis-ci.org/sanisoclem/personal-site.svg?branch=master"/></div>
<em>version: {{appVersion}}</em>

{{#if user}}
    <p>{{user.displayName}}</p>
    <p>{{user.email}}</p>
{{/if}}