.home-bg
{
    position: absolute;
    top:0px;
    left:0;
    right:0;
    bottom: 0;
    overflow: hidden;
    > div
    {
        position: absolute;
        top:250px;
        left:0;
        right:0;
        height:100%;
        
        > div 
        {
            position:absolute;
            top:-100%;
            left:-50%;
            width:200%;
            height:100%;
            transform: rotate(-3deg);
            z-index: 1;
            background-color:@color-bg-gray;
            box-shadow: 0 0px 10px 3px @color-shadow-gray;
        }    
    }
}

.home-header {
    height:250px;
    //background-color:@color-bg-gray;
    //box-shadow: 0 0px 10px 3px @color-shadow-gray;
    position:relative;
    z-index: 100;
    
    > .wrapper {
        position:absolute;
        bottom:0;
        height:90%;
        width:100%;
        
        > .container
        {
            //background-color: rgba(255,255,255,0.1);
            border-radius:30px 30px 0 0;
            height:100%;
            display:table;
        }
    }
    
    .title-holder,
    .portrait-holder
    {
        display:table-cell;
        vertical-align: middle;
    }
    
    .portrait-holder{
        width:200px;
    }
    .title-holder
    {
        padding-left:20px;
    }
    
    .portrait
    {
        width:180px;
        height:180px;
        background-color:#ccc;
        border-radius:50%;
        margin: auto auto;
        background: url(../img/portrait-placeholder.png) no-repeat center center;
        background-size: contain;
    }
    
    .title
    {
        //font-size:4em;
        color: lighten(@color-text-gray,50%);
        margin:0;
        padding:0;
        height:50%;
        letter-spacing:0.2em;
        position:relative;
        
        > .wrapper
        {
            position:absolute;
            bottom:0;
            width:100%;
            height:auto;
            
            > strong
            {
                color: #fff;
            }
        }
    }
    
    .sub-title
    {
        //font-size:2em;
        color: lighten(@color-text-gray,30%);
        margin:0;
        padding:0;  
        letter-spacing:0.2em;
        height:50%;
        line-height: 60px;
    }
}
.home-body 
{
    height:50%;
}
.home-footer
{
    height:10%;
    text-align: right;
    padding:10px;
}